* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-size: 1.6rem;
  color: white;
}

:root {
  font-size: 62.5%;
  --body-background: #0e0e0e;
  --color-logo: #ff5b50;
  --card-color: #252525;
  --text-color: #fff;
  --subtitle-color: #5a5757;
  --black-text: #000;
  --color-input: #0d0d0d;
}

.container {
  width: 127.7rem;
}

header {
  display: flex;
  justify-content: center;
  position: absolute;
  color: white;
  width: 100%;
}

header .container {
  margin-top: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav ul {
  display: flex;
  gap: 6rem;
}

header nav ul li {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8rem;
}

header nav ul li:hover {
  cursor: pointer;
}

header .container div:last-child {
  display: flex;
  width: 23rem;
  height: 5rem;
  padding: 1.4rem 1rem;
  gap: 1.5rem;
  background-color: white;
  justify-content: center;
}

header .container div:last-child:hover {
  cursor: pointer;
}

header .container div:last-child h3 {
  color: black;
  font-family: 'Montserrat', sans-serif;
}
main {
  background-color: var(--body-background);
  overflow-x: hidden;
}

section,
footer {
  width: 100%;
}

.center {
  display: flex;
  justify-content: center;
}

#destaque {
  padding-top: 20rem;
  background-image: url('assets/background.png');
  background-size: cover;
}

#title-page {
  margin-bottom: 10rem;
}

#title-page .container {
  display: grid;
  grid-template-columns: 2fr 3fr 1fr;
  gap: 4rem;
}

#title-page .container div:first-child {
  display: flex;
  flex-direction: column;
  gap: 5.5rem;
}

#title-page .container div:first-child > p {
  font-size: 1.8rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

#title-page .container div:first-child > div {
  display: flex;
  align-items: flex-end;
}

#title-page .container > div:nth-child(2) h2 {
  font-size: 5rem;
  font-family: 'Montserrat', sans-serif;
}
#title-page .container > div:nth-child(2) h2 span {
  font-size: 5rem;
  font-family: 'Montserrat', sans-serif;
  color: var(--color-logo);
}

#title-page .container div:nth-child(2) > p {
  font: 400 1.8rem 'Montserrat', sans-serif;
}

#title-page .container div:nth-child(2) > p:first-child {
  font-weight: 700;
  margin-bottom: 0.8rem;
}

#galery {
  width: 100%;
}

#galery div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 6rem;
}

#galery div > img {
  border: 1px solid var(--text-color);
}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-areas:
    'number comment comment '
    'number img img';
}

#numbers {
  grid-area: number;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 7rem;
  padding-right: 6.7rem;
  border-right: 1px solid var(--subtitle-color);
  text-align: center;
}

#numbers div > span {
  font: 600 5rem 'Montserrat', sans-serif;
}
#numbers div > p {
  font: 600 2rem 'Montserrat', sans-serif;
  color: var(--subtitle-color);
}

#comments {
  grid-area: comment;
  display: flex;
  width: 95.2rem;
  height: 21.4rem;
  margin: 7rem;
  gap: 12rem;
}

.comment p {
  font: 400 1.8rem 'Montserrat', sans-serif;
  margin-bottom: 6.3rem;
}

.comment p > span {
  color: var(--color-logo);
}

.comment p:last-child {
  text-decoration: underline;
}
#first-banner {
  position: relative;
}

#first-banner img {
  display: flex;
  width: 80vw;
}

.line {
  position: absolute;
  width: 100%;
  border: 1px solid var(--subtitle-color);
}
#populars {
  position: relative;
}

#populars .container {
  display: flex;
  flex-direction: column;
  margin-top: 15rem;
}

#populars .container > h2 {
  font: 700 5rem 'Montserrat', sans-serif;
  margin-bottom: 15rem;
}

#populars .container > h2 > span {
  font: 700 5rem 'Montserrat', sans-serif;

  color: var(--color-logo);
}

.division {
  display: flex;
  justify-content: space-between;
}

#populars .container .division:first-child {
  margin-bottom: 5rem;
}

.astro > h2 {
  font: 400 3rem 'Montserrat', sans-serif;
  margin-bottom: 4rem;
  display: flex;
  justify-content: space-between;
}

.astro > div {
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-between;
}

.astro > div > span:first-child {
  font: 600 2rem 'Montserrat', sans-serif;
  color: var(--subtitle-color);
}

.astro > div > span:last-child {
  font: 400 2rem 'Montserrat', sans-serif;
  color: var(--color-logo);
}

#populars .line {
  position: absolute;
  width: 1px;
  height: 71.8rem;
  border: 1px solid var(--subtitle-color);
  bottom: 0.5rem;
}

#best-artist .container {
  margin-top: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#best-artist .container > h2 {
  margin-bottom: 12rem;
  font: 700 5rem 'Montserrat', sans-serif;
}

#best-artist .container > h2 span {
  font: 700 5rem 'Montserrat', sans-serif;

  color: var(--color-logo);
}

#artist {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 11rem;
  margin-bottom: 5.4rem;
}

.artist {
  display: flex;
  width: 35rem;
  height: 15rem;
  background-color: var(--card-color);
  align-items: center;
  padding: 0 3.2rem;
}

.artist > div > p:first-child {
  margin-bottom: 1rem;
  font: 400 2rem 'Montserrat', sans-serif;
}

.artist > div > p:last-child {
  font: 400 2rem 'Montserrat', sans-serif;
  color: var(--color-logo);
}

.artist > img {
  width: 10rem;
  height: 10rem;
  margin-right: 4rem;
}

.best {
  background-color: var(--color-logo);
}

.best > div > p,
.best > div > p:last-child {
  color: white;
}

#best-artist .container > div:last-child {
  display: flex;
  margin-bottom: 15rem;
}

#best-artist .container > div:last-child p {
  font: 400 2rem 'Montserrat', sans-serif;
  margin-right: 1.8rem;
}

footer {
  background-color: var(--card-color);
}

footer .container {
  display: flex;
  flex-direction: column;
}

#header-footer {
  display: flex;
  margin-top: 8.2rem;
  padding-bottom: 7.8rem;
  justify-content: space-between;
}

#header-footer img:last-child {
  padding: 2.85rem;
  background-color: var(--color-logo);
}

#header-footer img:last-child:hover {
  cursor: pointer;
}

footer .container #line1 {
  position: absolute;
  left: 0%;
  margin-top: 24rem;
}

footer .container #line2 {
  position: absolute;
  left: 0%;
  margin-top: 56rem;
}

footer #main-footer {
  display: grid;
  grid-template-columns: 48rem 1fr;
  grid-template-areas: 'contact nav';
  height: 32rem;
}

#main-footer #contact {
  grid-area: contact;
  border-right: 1px solid var(--subtitle-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.5rem;
}

#contact h2,
#contact h2 > span {
  width: 35rem;
  font: 400 3rem 'Montserrat', sans-serif;
}

#contact h2 > span {
  color: var(--color-logo);
}

#contact > div {
  display: flex;
  align-items: center;
}

#contact > div > div {
  background-color: var(--body-background);
  height: 6.6rem;
  width: 28rem;
  display: flex;
}

#contact > div > div input {
  background-color: var(--body-background);
  border: none;
  width: 23.5rem;
  margin-left: 2rem;
}

#contact > div > div input::placeholder {
  font: 400 2rem 'Montserrat', sans-serif;
}

#contact > div > div input:focus {
  outline: none;
  border: none;
}

#contact > div > a {
  width: 12.2rem;
  height: 6.6rem;
  background-color: var(--text-color);
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font: 700 2rem 'Montserrat', sans-serif;
}

#main-footer #nav {
  grid-area: nav;
  display: flex;
  align-items: center;
  margin-left: 12.8rem;
  gap: 12.8rem;
}

#main-footer #nav ul {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

#main-footer #nav ul li,
#main-footer #nav ul li > span {
  font: 400 2rem 'Montserrat', sans-serif;
  color: var(--subtitle-color);
}

#main-footer #nav ul li > span {
  color: var(--text-color);
  font-weight: 700;
}

#footer {
  display: flex;
  height: 16.7rem;
  justify-content: space-between;
  align-items: center;
}

#footer > p {
  font: 400 2rem 'Montserrat', sans-serif;
  color: var(--subtitle-color);
}

#icones {
  display: flex;
  gap: 5rem;
}
