* {
  list-style: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 1.6rem;
}

:root {
  font-size: 62.5%;
}

ul {
  display: flex;
}

ul li {
  height: 5rem;
  width: 5rem;
  background-color: black;
  border: 1px solid black;
  color: white;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}

#a li:nth-child(1),
#a li:nth-child(3),
#a li:nth-child(5),
#a li:nth-child(7),
#c li:nth-child(1),
#c li:nth-child(3),
#c li:nth-child(5),
#c li:nth-child(7),
#e li:nth-child(1),
#e li:nth-child(3),
#e li:nth-child(5),
#e li:nth-child(7),
#g li:nth-child(1),
#g li:nth-child(3),
#g li:nth-child(5),
#g li:nth-child(7),
#b li:nth-child(2),
#b li:nth-child(4),
#b li:nth-child(6),
#b li:nth-child(8),
#d li:nth-child(2),
#d li:nth-child(4),
#d li:nth-child(6),
#d li:nth-child(8),
#f li:nth-child(2),
#f li:nth-child(4),
#f li:nth-child(6),
#f li:nth-child(8),
#h li:nth-child(2),
#h li:nth-child(4),
#h li:nth-child(6),
#h li:nth-child(8) {
  background-color: white;
}

ul li[class]:hover {
  cursor: pointer;
}

.white {
  text-shadow: 1px 0 0 black, -1px 0 0 black, 0 1px 0 black, 0 -1px 0 black,
    1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
}

.black {
  color: black;
  text-shadow: 1px 0 0 white, -1px 0 0 white, 0 1px 0 white, 0 -1px 0 white,
    1px 1px white, -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white;
}

li[class]#token {
  background-color: greenyellow;
}
